/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.section-view {
  flex: 1;
  display: flex;
  width: 100vw; }
  .section-view__view {
    width: 100%;
    height: 100%;
    backface-visibility: visible; }
  .section-view__map {
    flex: 1;
    display: flex;
    background-color: #fff; }
  .section-view__t-content {
    width: 6rem;
    height: calc(100vh - 7rem);
    background-color: #444242;
    border-right: 1px solid #444242;
    position: relative;
    transition: width 0.8s cubic-bezier(0.77, 0, 0.175, 1); }
  .section-view__t-content--toggle {
    width: 35rem; }

.btn-min {
  height: 4rem;
  width: 4rem;
  background-color: #0b859b;
  position: absolute;
  top: 90%;
  right: -2rem;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 100; }
  .btn-min:hover {
    transform: translateY(-1px);
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6); }
  .btn-min:active {
    transform: translateY(0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); }

.header {
  background-color: #0b859b;
  height: 7rem;
  color: azure; }
  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%; }
  .header_mini-button {
    width: 6rem;
    height: 100%; }
  .header__title-box {
    flex: 1;
    height: 100%;
    display: flex; }
  .header__title {
    font-family: inherit;
    flex: 0 0 40%;
    padding-left: 1rem;
    font-size: 260%;
    align-self: center; }
  .header__title span {
    font-size: 50%;
    margin-left: 1.2rem; }
  .header__search {
    flex: 0 0 30%; }
